<div class="fixed h-full w-full z-20 bg-[rgba(0,0,0,0.4)] overflow-auto" id="overflow">
    <div class="flex flex-col relative bg-gray-50 top-1/2 left-1/2 -translate-1/2 max-h-[500px] w-[500px] border-1 border-gray-200 rounded-md p-6 overflow-y-auto" id="modal">
        <app-modal-header [title]="title" (closeButtonClicked)="onClose()"></app-modal-header>
        <div class="flex-1 py-4 ">
            <ng-content></ng-content>
        </div>
        @if (primaryButtonText || secondaryButtonText) {
        <app-modal-footer [primaryButtonText]="primaryButtonText" [secondaryButtonText]="secondaryButtonText" [primaryButtonDisabled]="primaryButtonDisabled" [secondaryButtonDisabled]="secondaryButtonDisabled" (primaryButtonClicked)="onPrimaryButtonClicked()" (secondaryButtonClicked)="onSecondaryButtonClicked()"></app-modal-footer>
        }
    </div>
</div>