<li class="p-4 border-1 rounded-md text-2xl" [ngClass]="{
                'bg-gray-100 border-gray-300 cursor-pointer dark:bg-zinc-800 dark:border-zinc-700': !isAnswered,
                'bg-emerald-300 border-emerald-400 dark:bg-green-800 dark:border-green-900': isAnswered && isCorrect === type,
                'bg-red-400 border-red-400 dark:bg-red-800 dark:border-red-900': isAnswered && isCorrect === !type,
                'animate-fadeIn cursor-default': isAnswered,
            }" (click)="answerQuestion(type)">
    {{type ? ('study.games.trueFalse.true.label' | translate) : ('study.games.trueFalse.false.label' | translate)}}
</li>