<div class="flex flex-col h-full lg:h-auto gap-3 justify-between p-4 border-2 bg-gray-50 border-gray-200 rounded-xl animate-slideIn">
    <h3 class="text-2xl font-bold self-center">Word of the day</h3>
    @if (wordsOfTheDay.length) {
    <app-wotd-item [word]="wordsOfTheDay[currentWordId].name" [definition]="wordsOfTheDay[currentWordId].definition"></app-wotd-item>
    <div class="flex flex-col md:flex-row gap-2 mt-3">
        <app-button class="flex flex-1 [&>button]:grow [&>button]:justify-center" [type]="'secondary'" (buttonClicked)="nextWord()">Next</app-button>
        <app-button class="flex-1 md:flex-none [&>button]:w-full [&>button]:justify-center" [type]="'primary'" (buttonClicked)="addWord()">Add to wordlist</app-button>
    </div>
    }
</div>