<div [ngClass]="!stage && isVisible ? 'animate-slideIn' : ''">
    <h2 class="text-4xl font-semibold mb-5"><span class="font-bold">{{currentStageId + 1}}.</span> {{'study.games.matching.description' | translate}}</h2>
    <div class="grid grid-cols-2 gap-8 mb-5">
        <app-draggable-items-list [items]="terms" [answered]="answered" [results]="results" (reordered)="reorder($event)"></app-draggable-items-list>
        <app-draggable-items-list [items]="definitions" [answered]="answered" [results]="results" (reordered)="reorder($event)"></app-draggable-items-list>
    </div>
    <div class="flex justify-end" *ngIf="!stage">
        <app-button class="[&>button]:w-48 [&>button]:justify-center" [type]="'primary'" [disabled]="answered" (click)="checkAnswers()">{{"study.games.checkAnswer.label" | translate}}</app-button>
    </div>
</div>