<div class="flex justify-between w-full">
    <app-button [type]="'secondary'" [icon]="'checkmark-circle-outline'" (click)="selectAllVisible()">{{'wordlist.selectAllVisible' | translate}}</app-button>
    @if (hasSelectedWords) {
    <div class="flex gap-3">
        <app-button [type]="'secondary'" [icon]="'close-outline'" (click)="unselectAll()">{{'wordlist.unselectAll' | translate}}</app-button>
        <div class="relative z-50">
            <app-button [type]="'primary'" [icon]="'hammer-outline'" (click)="toggleDropdown()">{{'wordlist.editSelected' | translate}}</app-button>
            @if (isDropdownOpen) {
            <div class="flex flex-col gap-2 w-full p-4 absolute top-full bg-gray-50 border-2 border-gray-200 rounded-b-md dark:bg-zinc-800 dark:border-zinc-700" id="dropdown">
                <p class="cursor-pointer" (click)="setIsLearningForSelected(true)">{{'wordlist.markAsToLearn' | translate}}</p>
                <p class="cursor-pointer" (click)="setIsLearningForSelected(false)">{{'wordlist.markAsNotLearning' | translate}}</p>
            </div>
            }
        </div>
    </div>
    }
</div>