<select class="p-3 bg-gray-100 rounded-md border-1 border-gray-200 h-12 w-full dark:bg-zinc-800 dark:border-zinc-700">
    <option value="nameASC">Sort by name ASC</option>
    <option value="nameDESC">Sort by name DESC</option>
    <option value="definitionASC">Sort by definition ASC</option>
    <option value="definitionDESC">Sort by definition DESC</option>
    @if (hasNotLearningWords) {
    <option value="isLearningASC">Sort by learning ASC</option>
    <option value="isLearningDESC">Sort by learning DESC</option>
    }
</select>