<li class="flex justify-between gap-6 p-6 border-2 rounded-xl bg-gray-50 border-gray-200 shadow-2xs shadow-gray-50 dark:bg-zinc-800 dark:shadow-zinc-700 dark:border-zinc-700">
    <div class="flex items-center gap-6">
        <div>
            <div class="flex items-center gap-3">
                <h4 class="text-2xl font-bold">{{word.name | sentencecase}}</h4>
                <button class="text-gray-50 rounded-md px-2 cursor-pointer duration-300" [ngClass]="word.isLearning ? 'bg-emerald-600 dark:bg-emerald-700' : 'bg-red-700 dark:bg-red-800'" (click)="toggleIsLearning()">
                    {{word.isLearning ? ('wordlist.toLearn' | translate) : ('wordlist.notLearning' | translate)}}
                </button>
            </div>
            <p class="text-gray-500">{{word.definition}}</p>
        </div>
    </div>
    <div class="relative">
        <ion-icon class="text-2xl ionicon-thick cursor-pointer hover:rotate-45 duration-300" name="settings-outline" (click)="toggleDropdownMenu()"></ion-icon>
        @if (isDropdownOpen) {
        <div class="flex flex-col gap-2 min-w-40 p-4 absolute top-0 right-full bg-gray-50 border-2 border-gray-200 rounded-md dark:bg-zinc-800 dark:border-zinc-700" id="dropdown">
            <p class="cursor-pointer" (click)="editWord()">{{'wordlist.edit' | translate}}</p>
            <p class="cursor-pointer" (click)="deleteWord()">{{'wordlist.delete' | translate}}</p>
        </div>
        }
    </div>
</li>