<div [style.--animate-slideIn]="`slideIn 0.5s backwards ${((game !== null ? game.id : -1) + 1) * .3}s`" class="flex gap-4 items-center border-2 bg-gray-50 border-gray-200 py-4 px-6 rounded-md cursor-pointer transition-all duration-300 animate-slideIn hover:-translate-y-1.5" [ngClass]="isSelected ? '!bg-blue-100/30 !border-blue-100' : ''" (click)="onGameClicked(game?.title || 'all')">
    <ion-icon class="text-6xl text-gray-600 ionicon-thick" name="{{game?.icon || 'apps-outline'}}"></ion-icon>
    <div>
        <h3 class="text-2xl">{{game?.title || 'All'}}</h3>
        <p class="text-gray-500">{{game?.description || 'Select all games'}}</p>
    </div>
</div>