<div [style.--animate-slideIn]="`slideIn 0.5s backwards ${((game !== null ? game.id : -1) + 1) * .3}s`" class="h-full flex gap-4 items-center border-2 bg-gray-50 border-gray-200 py-4 px-6 rounded-md cursor-pointer transition-all duration-300 animate-slideIn hover:-translate-y-1.5 dark:bg-zinc-800 dark:border-zinc-700" [ngClass]="isSelected ? '!bg-blue-100/30 !border-blue-100 dark:!bg-zinc-800 dark:!border-emerald-700' : ''" (click)="onGameClicked(game?.title || 'all')">
    <ion-icon class="text-6xl text-gray-600 ionicon-thick" name="{{game?.icon || 'apps-outline'}}"></ion-icon>
    <div>
        <h3 class="text-2xl">{{translations ? translations[0] : ('study.games.all.title' | translate)}}</h3>
        <p class="text-gray-500">{{translations ? translations![1] : ('study.games.all.description' | translate)}}</p>
    </div>
</div>