<div class="grid xl:grid-cols-[1.5fr_1fr_1fr] md:grid-cols-2 gap-3 mb-5">
    <app-search-bar class="md:col-span-2 xl:col-span-1" [translationKey]="'folderlist.search'" (searched)="search($event)" />
    <app-items-sort [sortOptions]="sortOptions" [currentSortOption]="currentSortOption" (changed)="changeSortType($event)" />
    <app-items-purger [hasSelectedItems]="hasSelectedFolders" [numberOfItems]="numberOfSelectedFolders" (clicked)="openDeletionModal()" />
    <app-items-selection-control-buttons class="col-span-full" [hasSelectedItems]="hasSelectedFolders" [hasAllVisibleSelected]="hasAllVisibleSelected" [hasMultiplePages]="hasMultiplePages" (selectAllClicked)="selectAllVisible()" (unselectAllClicked)="unselectAll()" />
</div>