input {
	--in-w: calc(var(--n-char) * (1.5ch));
	width: var(--in-w);

	background: repeating-linear-gradient(
			90deg,
			var(--color-gray-900) 0,
			var(--color-gray-900) 1ch,
			transparent 0,
			transparent calc(1.5ch)
		)
		0 100% / calc(var(--in-w) - 0.5ch) 3px no-repeat;

	font: 5ch Consolas, monospace;
}
