<button type="button" class="flex items-center cursor-pointer transition duration-300" [ngClass]="{
        'bg-emerald-600 enabled:text-gray-100 enabled:hover:bg-emerald-700 dark:bg-emerald-700 dark:enabled:hover:bg-emerald-800': type === EButtonTypes.Primary,
        'bg-gray-200 text-gray-900 enabled:hover:bg-gray-300 dark:bg-zinc-400 dark:enabled:hover:bg-zinc-500': type === EButtonTypes.Secondary,
        'bg-red-700 text-gray-100 enabled:hover:bg-red-800 dark:bg-red-800 dark:enabled:hover:bg-red-900': type === EButtonTypes.Danger,
        'gap-1 px-8 py-3 rounded-md font-semibold': type !== EButtonTypes.NoBackground,
        'gap-1.5 text-xl text-gray-500 enabled:hover:text-gray-600': type === EButtonTypes.NoBackground,
        'disabled:bg-gray-200 disabled:text-gray-400 dark:!bg-zinc-600 dark:!text-zinc-900': disabled && type !== EButtonTypes.NoBackground,
        '!cursor-default': disabled
    }" (click)="onClick()" [disabled]="disabled">
    <ion-icon *ngIf="icon" class="text-2xl ionicon-thick" [name]="icon"></ion-icon>
    <ng-content></ng-content>
</button>