@if (wordEditionModalOpen) {
<app-add-edit-word-modal />
}

@if (folderEditionModalOpen) {
<app-add-edit-folder-modal />
}

@if (isWordDeletingModalOpen) {
<app-confirm-word-deletion-modal />
}

@if (isFolderDeletingModalOpen) {
<app-confirm-folder-deletion-modal />
}

@if (addToFolderModalOpen) {
<app-add-to-folder-modal />
}

@if (importConfirmationModalOpen) {
<app-confirm-import-modal />
}

@if (isLoading) {
<app-spinner />
}

@if (mobileNavbarOpen) {
<app-mobile-menu />
}

<app-toaster-container [toasters]="toasters" />

<app-header />
<main class="p-8 flex-1">
    <router-outlet />
</main>
<app-footer />