<section class="flex flex-col max-w-7xl mx-auto">
    <app-section-title [title]="'Settings'"></app-section-title>
    <div class=" flex flex-col mt-6 gap-8 border-2 bg-gray-100 border-gray-200 p-6 w-4xl mx-auto rounded-xl dark:bg-zinc-800 dark:border-zinc-700">
        <div class="flex justify-between items-center">
            <div class="flex flex-col">
                <h4 class="text-xl font-semibold">Dark mode</h4>
                <p class="text-gray-500">Switch between light and dark mode</p>
            </div>
            <input type="checkbox" class="w-6 h-6" (change)="toggleDarkMode()" [(ngModel)]="isDarkMode">
        </div>
        <div class="flex justify-between items-center">
            <div class="flex flex-col">
                <h4 class="text-xl font-semibold">Export your data</h4>
                <p class="text-gray-500">Get all your data to your computer in json format</p>
            </div>
            <app-button [type]="'secondary'" [disabled]="!hasKeys" (click)="exportData()">Export your data</app-button>
        </div>
        <div class="flex justify-between items-center">
            <div class="flex flex-col">
                <h4 class="text-xl font-semibold">Delete your data</h4>
                <p class="text-gray-500">Delete all your data from browser's local storage</p>
            </div>
            <app-button [type]="'danger'" [disabled]="!hasKeys" (click)="deleteData()">Delete your data</app-button>
        </div>
    </div>
</section>