<ng-container *ngIf="translations">
    <section class="flex flex-col max-w-7xl mx-auto">
        <app-section-title [title]="translations['settings.title']"></app-section-title>
        <div class=" flex flex-col mt-6 gap-8 border-2 bg-gray-100 border-gray-200 p-6 w-4xl mx-auto rounded-xl dark:bg-zinc-800 dark:border-zinc-700">
            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <h4 class="text-xl font-semibold">{{'settings.darkMode.title' | translate}}</h4>
                    <p class="text-gray-500">{{'settings.darkMode.description' | translate}}</p>
                </div>
                <input type="checkbox" class="w-6 h-6 accent-emerald-700 " (change)="toggleDarkMode()" [(ngModel)]="isDarkMode">
            </div>
            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <h4 class="text-xl font-semibold">{{'settings.fetchDefinition.title' | translate}}</h4>
                    <p class="text-gray-500">{{'settings.fetchDefinition.description' | translate}}</p>
                </div>
                <input type="checkbox" class="w-6 h-6 accent-emerald-700 " (change)="toggleFetchWordDefinition()" [(ngModel)]="isFetchWordDefinitionEnabled">
            </div>
            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <h4 class="text-xl font-semibold">{{'settings.language.title' | translate}}</h4>
                    <p class="text-gray-500">{{'settings.language.description' | translate}}</p>
                </div>
                <select class="p-3 bg-gray-100 rounded-md border-1 border-gray-200 h-12 dark:bg-zinc-800 dark:border-zinc-700" [value]="currentLanguage" (change)="setCurrentLanguage($event)">
                    <option value="en-US">{{'settings.language.english' | translate}}</option>
                    <option value="pl-PL">{{'settings.language.polish' | translate}}</option>
                </select>
            </div>
            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <h4 class="text-xl font-semibold">{{'settings.export.title' | translate}}</h4>
                    <p class="text-gray-500">{{'settings.export.description' | translate}}</p>
                </div>
                <app-button [type]="'secondary'" [disabled]="!hasKeys" (click)="exportData()">{{'settings.export.button' | translate}}</app-button>
            </div>
            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <h4 class="text-xl font-semibold">{{'settings.delete.title' | translate}}</h4>
                    <p class="text-gray-500">{{'settings.delete.description' | translate}}</p>
                </div>
                <app-button [type]="'danger'" [disabled]="!hasKeys" (click)="deleteData()">{{'settings.delete.button' | translate}}</app-button>
            </div>
        </div>
    </section>
</ng-container>