.cdk-drag-preview {
	display: flex;
	align-items: center;
	border: 1px solid var(--color-gray-300);
	border-radius: 4px;
	background-color: var(--color-gray-50);
	padding: 1.25rem;
	overflow: hidden;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body.dark .cdk-drag-preview {
	border: 1px solid var(--color-zinc-700);
	background-color: var(--color-zinc-800);
	box-shadow: rgba(41, 41, 41, 0.8) 0px 8px 24px;
}

.cdk-drag-placeholder {
	opacity: 0;
}

.cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
