@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
	--font-signika: "Signika", sans-serif;

	--animate-pulse: pulse 1.5s infinite alternate;
	--animate-elapsing: elapsing var(--elapsing-duration, 5s) forwards;
	--animate-slideIn: slideIn 0.5s forwards;
	--animate-toaster: slideIn 1s forwards, slideOut 1s var(--elapsing-duration, 5s) forwards;
	--animate-fadeIn: fadeIn 1s forwards;

	@keyframes pulse {
		from {
			transform: scale(0.2);
		}
		to {
			transform: scale(1);
		}
	}

	@keyframes elapsing {
		from {
			width: 100%;
		}
		to {
			width: 0;
		}
	}

	@keyframes slideIn {
		from {
			opacity: 0;
			transform: translateY(50px);
		}
		to {
			opacity: 1;
			transform: translate(0);
		}
	}

	@keyframes slideOut {
		from {
			opacity: 1;
			transform: translate(0);
		}
		to {
			opacity: 0;
			transform: translateY(50px);
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0.3;
		}
		to {
			opacity: 1;
		}
	}
}

@layer utilities {
	.ionicon-thick {
		--ionicon-stroke-width: 2.5rem;
	}

	input.show-validation.ng-touched.ng-valid,
	textarea.show-validation.ng-touched.ng-valid {
		border: 2px solid var(--color-emerald-600);
	}

	input.show-validation.ng-touched.ng-invalid,
	textarea.show-validation.ng-touched.ng-invalid {
		border: 2px solid var(--color-red-600);
	}

	::selection {
		color: var(--color-gray-50);
		background-color: var(--color-emerald-600);
	}
}
